@model WEBODEVI.Models.Uye

@{
    ViewData["Title"] = "Create";

}

<h1>Create</h1>

<h4>Uye</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UyeAd" class="control-label"></label>
                <input asp-for="UyeAd" class="form-control" />
                <span asp-validation-for="UyeAd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UyeSoyad" class="control-label"></label>
                <input asp-for="UyeSoyad" class="form-control" />
                <span asp-validation-for="UyeSoyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UyeMail" class="control-label"></label>
                <input asp-for="UyeMail" class="form-control" />
                <span asp-validation-for="UyeMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UyeSifre" class="control-label"></label>
                <input asp-for="UyeSifre" class="form-control" />
                <span asp-validation-for="UyeSifre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
