@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-wrap ftco-degree-bg" style="background-image: url('/../../images/bg_1.jpg');" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
			<div class="col-lg-8 ftco-animate">
				<div class="text w-100 text-center mb-md-5 pb-md-5">
                    <h1 class="mb-4">Araç Kiralamanın Hızlı &amp; Kolay Yolu</h1>
                    <p style="font-size: 18px;">Sektörünün en büyük rent a car markası olarak, bini aşkın araçlık filomuzla her türden ihtiyaca uygun araç kiralama çözümleri sunuyoruz.</p>
                    <a href="https://www.youtube.com/watch?v=xD7tkGN8HNE" class="icon-wrap popup-vimeo d-flex align-items-center mt-4 justify-content-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="ion-ios-play"></span>
						</div>
						<div class="heading-title ml-5">
							<span>Araç kiralamak için kolay adımlar</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section ftco-no-pt bg-light">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 heading-section text-center ftco-animate mb-5">
				<span class="subheading">Teklifimiz</span>
				<h2 class="mb-2">Öne Çıkan Araçlar</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="carousel-car owl-carousel">
					<div class="item">
						<div class="car-wrap rounded ftco-animate">
							<div class="img rounded d-flex align-items-end" style="background-image: url(/../../images/car-1.jpg);">
							</div>
							<div class="text">
								<h2 class="mb-0"><a href="#">Mercedes-Benz</a></h2>
								<div class="d-flex mb-3">
									<span class="cat">Cabrio</span>
									<p class="price ml-auto">$700 <span>/gün</span></p>
								</div>
								<p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Rezervasyon Yap</a> <a href="#" class="btn btn-secondary py-2 ml-1">Detaylar</a></p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="car-wrap rounded ftco-animate">
							<div class="img rounded d-flex align-items-end" style="background-image: url(/../../images/car-2.jpg);">
							</div>
							<div class="text">
								<h2 class="mb-0"><a href="#">Land Rover</a></h2>
								<div class="d-flex mb-3">
									<span class="cat">Jeep</span>
									<p class="price ml-auto">$500 <span>/gün</span></p>
								</div>
								<p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Rezervasyon Yap</a> <a href="#" class="btn btn-secondary py-2 ml-1">Detaylar</a></p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="car-wrap rounded ftco-animate">
							<div class="img rounded d-flex align-items-end" style="background-image: url(/../../images/car-3.jpg);">
							</div>
							<div class="text">
								<h2 class="mb-0"><a href="#">McLaren</a></h2>
								<div class="d-flex mb-3">
									<span class="cat">720s</span>
									<p class="price ml-auto">$1000 <span>/gün</span></p>
								</div>
								<p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Rezervasyon Yap</a> <a href="#" class="btn btn-secondary py-2 ml-1">Detaylar</a></p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="car-wrap rounded ftco-animate">
							<div class="img rounded d-flex align-items-end" style="background-image: url(/../../images/car-4.jpg);">
							</div>
							<div class="text">
								<h2 class="mb-0"><a href="#">Ford</a></h2>
								<div class="d-flex mb-3">
									<span class="cat">Mustang GT</span>
									<p class="price ml-auto">$750 <span>/gün</span></p>
								</div>
								<p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Rezervasyon Yap</a> <a href="#" class="btn btn-secondary py-2 ml-1">Detaylar</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

    <section class="ftco-section ftco-about">
			<div class="container">
				<div class="row no-gutters">
			<div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/../../images/about.jpg);">
					</div>
					<div class="col-md-6 wrap-about ftco-animate">
	          <div class="heading-section heading-section-white pl-md-5">
	          	<span class="subheading">About us</span>
	            <h2 class="mb-4">Carbook'a Hoşgeldiniz</h2>

                    <p>Sektörünün en büyük rent a car markası olarak, bini aşkın araçlık filomuzla her türden ihtiyaca uygun araç kiralama çözümleri sunuyoruz.</p>
                    <p>Koç Topluluğu’nun otomotiv sektöründeki ilk yatırımı olarak 1928 yılında kurulmuş olan Otokoç Otomotiv’in çatısı altında faaliyet gösteren küresel araç kiralama markası Avis, Türkiye’nin ilk araç kiralama markasıdır. Pazara giriş yaptığı 1974 yılından bu yana sektörünün lideri olan Avis Türkiye, ülkenin en yaygın araç kiralama ağına ve en geniş araç filosuna sahiptir. İlk ve öncü olmanın getirdiği sorumlulukla, geliştirdiği yeni konsept ve iş birlikleriyle sektörün ve bu sektörü besleyen diğer sektörlerin gelişmesine önemli katkı sağlamaktadır.</p>
	            <p><a href="#" class="btn btn-primary py-3 px-4">Araç Ara</a></p>
	          </div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<span class="subheading">Hizmetler</span>
            <h2 class="mb-3">Son Hizmetlerimiz</h2>
          </div>
        </div>
				<div class="row">
					<div class="col-md-3">
						<div class="services services-2 w-100 text-center">
            	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-wedding-car"></span></div>
            	<div class="text w-100">
                <h3 class="heading mb-2">Evlilik Töreni</h3>
                <p>Ultra lüks araçlarımızla Evlilik Töreninize ihtişamlı bir renk katın.</p>
              </div>
            </div>
					</div>
					<div class="col-md-3">
						<div class="services services-2 w-100 text-center">
            	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
            	<div class="text w-100">
                <h3 class="heading mb-2">Şehirler Arası Transfer</h3>
                <p>Dopdolu filomuzla şirketinizin ailenizin gezi, tatil gibi seyahatlerini bizle yapın.</p>
              </div>
            </div>
					</div>
					<div class="col-md-3">
						<div class="services services-2 w-100 text-center">
            	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car"></span></div>
            	<div class="text w-100">
                <h3 class="heading mb-2">Havaalanı Transferi</h3>
                <p>Uçağa yetişme derdinizin olmadığı ve lüks bir konfor içinde seyahat etmeniz için bizi tercih edin.</p>
              </div>
            </div>
					</div>
					<div class="col-md-3">
						<div class="services services-2 w-100 text-center">
            	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
            	<div class="text w-100">
                <h3 class="heading mb-2">Şehir Turu Gezileri</h3>
                <p>Yüksek bilgili rehberlerimizle bulunduğunuz şehrin tarihini birebir görme imkanı yakalayın.</p>
              </div>
            </div>
					</div>
				</div>
			</div>
		</section>

<section class="ftco-section ftco-intro" style="background-image: url(/../../images/bg_3.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row justify-content-end">
					<div class="col-md-6 heading-section heading-section-white ftco-animate">
            <h2 class="mb-3">Bizimle Kazanmak İster Misiniz? Bu Yüzden Geç Kalmayın.</h2>
            <a href="#" class="btn btn-primary btn-lg">Sürücü Ol.</a>
          </div>
				</div>
			</div>
		</section>


    <section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<span class="subheading">Referans</span>
            <h2 class="mb-3">Mutlu Müşteriler</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap rounded text-center py-4 pb-5">
                  <div class="user-img mb-2" style="background-image: url(/../../images/person_1.jpg)">
                  </div>
                  <div class="text pt-4">
                    <p class="mb-4">Carbook ailesini havaalanı seyahatlerimde kullanıyorum. Araçlarınız çok temiz ve güvenli. Teşekkürler.</p>
                    <p class="name">Barış Yılmaz</p>
                    <span class="position">Pazarlama Müdürü</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap rounded text-center py-4 pb-5">
                  <div class="user-img mb-2" style="background-image: url(/../../images/person_2.jpg)">
                  </div>
                  <div class="text pt-4">
                    <p class="mb-4">İstanbul-Sakarya arası yolculuklarımda Carbook kullanmak benim için büyük konfor. Teşekkürler Carbook.</p>
                    <p class="name">Can Yüzkollar</p>
                    <span class="position">Web Developer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap rounded text-center py-4 pb-5">
                  <div class="user-img mb-2" style="background-image: url(/../../images/person_3.jpg)">
                  </div>
                  <div class="text pt-4">
                    <p class="mb-4">İstanbul gibi büyük şehirde park yeri arayacağıma Carbook kiralıyorum. Hayat bana güzel. Teşekkürler.</p>
                    <p class="name">Cristiano Ronaldo</p>
                    <span class="position">UI Tasarımcısı</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap rounded text-center py-4 pb-5">
                  <div class="user-img mb-2" style="background-image: url(/../../images/person_1.jpg)">
                  </div>
                  <div class="text pt-4">
                    <p class="mb-4">Yurtdışından gelen müşterilerimi şehri tanıtmak için Carbook kullanıyorum, bayılıyorlar! Teşekkürler.</p>
                    <p class="name">Leonel Pessi</p>
                    <span class="position">Holding CEO</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap rounded text-center py-4 pb-5">
							<div class="user-img mb-2" style="background-image: url(/../../images/person_1.jpg)">
                  </div>
                  <div class="text pt-4">
                    <p class="mb-4">Düğünümüzü Carbook ile araba kiralayıp yaptık. Herkes çok beğendi. Teşekkürler Carbook.</p>
                    <p class="name">Volkan Demirel</p>
                    <span class="position">Antrenör</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
