@{
    ViewData["Title"] = "Home Page";
}
@model List<Cars>

<div class="hero-wrap ftco-degree-bg" style="background-image: url('/../../images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
            <div class="col-lg-8 ftco-animate">
                <div class="text w-100 text-center mb-md-5 pb-md-5">
                    <h1 class="mb-4">Araç Kiralamanın Hızlı &amp; Kolay Yolu</h1>
                    <p style="font-size: 18px;">Araç Kiralamak Artık Çok Basit! Dünyanın En İyi Arabalarına Sahip Olmak İçin Bize Başvurun. Size Unutamayacağınız Deneyim Yaşatalım.</p>
                    <a href="https://vimeo.com/45830194" class="icon-wrap popup-vimeo d-flex align-items-center mt-4 justify-content-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="ion-ios-play"></span>
                        </div>
                        <div class="heading-title ml-5">
                            <span>Araç Kiralamak İçin Kolay Adımlar</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">Tekliflerimiz</span>
                <h2 class="mb-2">Öne Çıkan Araçlarımız</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-car owl-carousel">
                    @foreach (var item in Model)
                    {
                        <div class="item">
                            <div class="car-wrap rounded ftco-animate">
                                <div class="img rounded d-flex align-items-end" style="background-image: url(/../../images/@item.CarPhoto);">
                                </div>
                                <div class="text">
                                    <h2 class="mb-0"><a href="#">@item.CarBrand</a></h2>
                                    <div class="d-flex mb-3">
                                        <span class="cat">@item.CarModel</span>
                                        <p class="price ml-auto">TL @item.CarDayPrice <span>/gün</span></p>
                                    </div>
                                    <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Rezerve Et</a> <a href="#" class="btn btn-secondary py-2 ml-1">Detaylar</a></p>
                                </div>
                            </div>
                        </div>
                        
                    }
                   
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-about">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/../../images/about.jpg);">
            </div>
            <div class="col-md-6 wrap-about ftco-animate">
                <div class="heading-section heading-section-white pl-md-5">
                    <span class="subheading">Hakkımızda</span>
                    <h2 class="mb-4">CarBook'a Hoşgeldiniz!</h2>

                    <p>Şehir dışına uzun seyahatler, şehir içinde konforlu ulaşım ya da keyifli bir hafta sonu kaçamağı… Araç kiralamada ihtiyaçlar herkese göre farklı olabilir. Bu yüzden Budget, birçok farklı kiralama seçeneği sunar. Yoğun bir günde ihtiyacın olan küçük bir otomobilden, yolculuklarında üst düzey konforu yaşayacağın büyük araçlara; en güzel tatillere çıkacağın SUV’lerden, yollarda rahatlığı tam anlamıyla hissedeceğin lüks araçlara kadar, Budget’ta tüm ihtiyaçlarının karşılığı var.</p>
                    <p>Üstelik CarBook’un dünya çapındaki 5.000’den fazla araç kiralama lokasyonunu ziyaret ederek dünyaya açılmak da mümkün.</p>

                    <p>Sen de yollarda özgürlüğü ve konforu bir arada arıyorsan, CarBook’la yola çık.</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Hizmetler</span>
                <h2 class="mb-3">Son Hizmetlerimiz</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-wedding-car"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Evlilik Töreni</h3>
                        <p>Ultra lüks araçlarımızla Evlilik Töreninize ihtişamlı bir renk katın.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Şehirler Arası Transfer</h3>
                        <p>Dopdolu filomuzla şirketinizin ailenizin gezi, tatil gibi seyahatlerini bizle yapın.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Havaalanı Transferi</h3>
                        <p>Uçağa yetişme derdinizin olmadığı ve lüks bir konfor içinde seyahat etmeniz için bizi tercih edin.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Şehir Turu Gezileri</h3>
                        <p>Yüksek bilgili rehberlerimizle bulunduğunuz şehrin tarihini birebir görme imkanı yakalayın.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-intro" style="background-image: url(/../../images/bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 heading-section heading-section-white ftco-animate">
                <h2 class="mb-3">Bizimle Çalışmak İster Misiniz? Hemen Başvurun!</h2>
                <a href="#" class="btn btn-primary btn-lg">Sürücü Ol.</a>
            </div>
        </div>
    </div>
</section>



