@model WEBODEVI.Models.Cars

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cars</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarBrand" class="control-label"></label>
                <input asp-for="CarBrand" class="form-control" />
                <span asp-validation-for="CarBrand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarModel" class="control-label"></label>
                <input asp-for="CarModel" class="form-control" />
                <span asp-validation-for="CarModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarHourPrice" class="control-label"></label>
                <input asp-for="CarHourPrice" class="form-control" />
                <span asp-validation-for="CarHourPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarDayPrice" class="control-label"></label>
                <input asp-for="CarDayPrice" class="form-control" />
                <span asp-validation-for="CarDayPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarMonthPrice" class="control-label"></label>
                <input asp-for="CarMonthPrice" class="form-control" />
                <span asp-validation-for="CarMonthPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarPhoto" class="control-label"></label>
                <input asp-for="CarPhoto" class="form-control" />
                <span asp-validation-for="CarPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
